<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        {{message}}
        <p>If you are here you are likely not signed in! Access to the cart requires a user to sign in.</p>
        <a href="{{url_for('signup')}}">Click here to sign up!</a>
        <a href="{{url_for('signin')}}">Click here to sign in!</a>
    {% endblock %}
</body>
</html>